html {
  font-family: Karla;
}

body {
    width: 100%;
    margin: 0 auto;
}

/* Nav */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 64px;
  width: 100%;
  top: 0;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}

.colmar {
color: black;
}

.academy {
  color: grey;
}

nav {
  display: flex;
  align-items: flex-end;
  padding-right: 24px;
}

nav span {
  margin-right: 16px;
}

nav a {
  color: black;
}

.mobile {
  display: none;
}

/* Learn Something New */

.stories  {
  display: flex;
  background-color: whitesmoke;

}

.text-content img {
height: 400px;
margin: 32px 24px;

}

.story {
  display: flex;
}

.text {
text-align: center;
margin-top: 120px;
height: 220px;
width: 320px;
background-color: silver;
}

.info {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  transition-property: background-color;
  transition-duration: 750ms;
}

.info a {
  color: white;
}

.info:hover {
  background-color: silver;
}

/* Info */

.column-two {
  background-color: thistle;
  display: flex;
}

.image-content {
  width: 60%;
  margin: 32px 24px;
}

.image-content img {
  width: 100%;
}

.narrative {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
}

.narrative h2 {
  margin-bottom: 24px;
}

.section {
  width 40%;
  display: flex;
  flex-direction: column;
}

.lead {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  border-left: thin silver solid;
  border-bottom: thick silver solid;
}

.lead img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.info-narrative {
  width: 65%;
}

.lecture {
  background-color: silver;
  transition: color 750ms ease-in 750ms;
}

.lecture:hover {
  background-color: whitesmoke;
}

/* Courses */

.#courses {
  background-color: whitesmoke;
  padding: 32px 72px;
}

#courses h1 {
  text-align: center;
}

.courses-info {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 32px;
}

.course {
width: 30%;
background: silver;
margin-right: 32px;
margin-bottom: 32px;
transition: color 750ms ease-in 750ms;
}

.course:hover {
background-color: whitesmoke;
}

.course img {
  width: 100%;
}

.data,
.Business,
.Marketing {
  background-color: whitesmoke;
}

.description h3 {
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 3px;
}

.description p {
  padding-left: 16px;
}

.Courses {
  padding-bottom: 3px;
  padding-left: 16px;
}

/* Thesis Exhibit */

#final {
  background-color: thistle;
  padding-top: 32px;
}

#final h1 {
  text-align: center;
  padding-bottom: 32px;
}

.thesis-content {
  display: flex;
}

.exhibit {
  max-width: 60%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.exhibit video {
  max-width: 100%;
}

.exhibits {
flex-direction: column;
width: 40%;
}

.software {
  display: flex;
  align-items: center;
}

.software img {
  width: 35%;
}

.fisma {
  background-color: whitesmoke;
}

.fisma img {
  padding: 16px;
}

.empire {
  background-color: silver;
  transition: color 750ms ease-in 750ms;
}

.empire:hover {
  background-color: whitesmoke;
}

.empire img {
  padding: 16px;
}

/* Footer */

footer {
  background-color: whitesmoke;
  color: black;
  border: thin silver solid;
  height: 64px;
  padding-top: 16px;
  padding-left: 24px;
}

.terms {
  float: right;
  padding-right: 24px;
}

/* Mobile */

@media only screen and (max-width: 480px) {
  header {
    height: 64px;
  }
  .actions {
    display: none;
  }

  .mobile  {
    display: flex;
  }

  .mobile img {
    padding-right: 50px;
  }

  .colmar,
  .academy {
    display: none;
  }

}

@media only screen and (max-width: 480px) {
  .stories {
    background-size: cover;
    display: block;
  }
  .story {
    flex-direction: column;
  }

.text {
  position: relative;
  bottom: 124px;
  width: 100%;
  padding-top: 32px;
}

  .text-content {
    flex-direction: column;
  }

  .text-content img {
    width: 100%;
    margin: 0 auto;
  }

  .image-content {
    display: none;
  }

  .narrative {
    display: none;
  }

  .lead {
    display: block;
    padding-bottom: 200px;
  }

  .lead img {
    width: 40%;
  }

  .info-narrative {
    margin-bottom: 30px;
  }

  .courses-info {
    display: block;
  }

  .course {
    margin: 0 auto;
    flex-direction: column;
    width: 45%;
  }

  .course img,
  .description p {
    display: none;
  }

  .exhibit h3 {
    display: none;
  }

  .exhibit p {
    display: none;
  }

  .thesis-content {
    display: block;
  }

  .exhibit video {
  justify-content: center;
  }

  .exhibits {
    display: none;
  }

  #final {
    display: block;
  }

  .terms {
    display: none;
  }
}
