body {
    width: 100%;
    margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 64px;
  width: 100%;
  top: 0;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}

.colmar {
color: black;
}

.academy {
  color: grey;
}

nav {
  display: flex;
  align-items: flex-end;
  padding-right: 24px;
}

nav span {
  margin-right: 16px;
}

nav a {
  color: black;
}

.stories  {
  display: flex;
  background-color: whitesmoke;

}

.text-content img {
height: 400px;
margin: 32px 24px;

}

.story {
  display: flex;
}

.text {
text-align: center;
margin-top: 120px;
height: 220px;
width: 320px;
background-color: grey;
}

.info {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}


.column-two {
  display: flex;
  background-color: thistle;
}

.image-content {
  width: 60%;
}

.narrative {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
}

.narrative h2 {
  margin-bottom: 24px;
}

.image-content img {
  width: 100%;
  margin: 32px 24px;
}

.section {
  width 40%;
  display: flex;
  flex-direction: column;

}

.lead,
.box,
.square {
  display: flex;
  align-items: center;
}

.lead {
  position: relative;
  top: 32px;
  left: 48px;
  width: 300px;
  background-color: whitesmoke;
}

.lead img {
  height: 150px;

}

.box {
  position: relative;
  top: 35px;
  left: 48px;
  width: 300px;
  background-color: whitesmoke;
}

.box img {
  height: 150px;
}

.square {
  position: relative;
  top: 38px;
  left: 48px;
  width: 300px;
  background-color: silver;
}

.square img {
  height: 150px;
}

/* Courses */

.courses {
  background-color: whitesmoke;
  padding: 32px 72px;
}

.courses h1 {
  text-align: center;
}

.courses-info {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 32px;
}

.course {
width: 30%;
background: silver;
margin-right: 32px;
margin-bottom: 32px;
}

.course img {
  width: 100%;
}

.data,
.Business,
.Marketing {
  background-color: whitesmoke;
}

.description h3 {
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 3px;
}


.description p {
  padding-left: 16px;
}

.Courses {
  padding-bottom: 3px;
  padding-left: 16px;
}

/* Thesis Exhibit */

.final {
  background-color: thistle;
  padding-top: 32px;
}

.final h1 {
  text-align: center;
  padding-bottom: 32px;
}

.thesis-content {
  display: flex;
}

.exhibit {
  max-width: 60%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.exhibit video {
  max-width: 100%;

}

.exhibits {
flex-direction: column;
width: 40%;

}

.software {
  display: flex;
  align-items: center;

}

.software img {
  width: 35%;


}

.fisma {
  background-color: whitesmoke;
}

.fisma img {
  padding: 16px;
}

.empire {
  background-color: silver;
}

.empire img {
  padding: 16px;

}
